# Environment
NODE_ENV=

# MongoDB
MONGODB_URL=
AUTH_DB=
CUSTOMER_DB=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PORT=

# RABBITMQ

# MAIL
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=

ADMIN_BACKEND_PORT=
AUTHSERVICE_BACKEND_PORT=
CUSTOMER_BACKEND_PORT=